extends layout
block content
  div(class='food', id='food')
    div(id='food1')
      img(src="https://ksr-ugc.imgix.net/assets/011/757/977/1d35823a9374efe51d35b5ff610b7732_original.png?ixlib=rb-1.1.0&crop=faces&w=1552&h=873&fit=crop&v=1463690563&auto=format&frame=1&q=92&s=1674ece240c39061ae8ba6d3c28344d8", alt="food1")
      h4 #{pageData.menuDessertsData.dessert1}
    div(id='food2')
      img(src="http://www.simplyscratch.com/wp-content/uploads/2013/05/Vanilla-Ice-Cream-Bowl.jpg", alt="food2")
      h4 #{pageData.menuDessertsData.dessert2}
    div(id='food3')
      img(src="https://timeincsecure-a.akamaihd.net/rtmp_uds/429048911/201801/2066/429048911_5706013914001_5703341808001-vs.jpg?pubId=429048911&videoId=5703341808001", alt="food3")
      h4 #{pageData.menuDessertsData.dessert3}
    div(id='food4')
      img(src="https://www.seriouseats.com/2018/03/20180413-brownie-mix-vicky-wasik-20-1500x1125.jpg", alt="food4")
      h4 #{pageData.menuDessertsData.dessert4}
    div(id='food5')
      img(src="https://assets.marthastewart.com/styles/wmax-1500/d30/magnolia-cupcake-290-mld110826/magnolia-cupcake-290-mld110826_horiz.jpg?itok=KlGb-itb", alt="food5")
      h4 #{pageData.menuDessertsData.dessert5}