extends layout
block content
  div(class='food', id='food')
    div(id='food1')
      img(src="https://www.flaska.eu/documents/flaska.eu/large/396.jpg", alt="food1")
      h4 #{pageData.menuDrinksData.drink1}
    div(id='food2')
      img(src="https://i5.walmartimages.com/asr/0ff0668b-7faf-49e6-9bb7-a9806507b03a_1.b58f3b8ea00b7a35bc649fe3db9e86ed.jpeg", alt="food2")
      h4 #{pageData.menuDrinksData.drink2}
    div(id='food3')
      img(src="https://assets.bhg.com/bhg/styles/nfp_1080_portrait/public/images/2016/7/25/102337432.jpg?bu95wnCs3zG7WegLahD3DvTUaJEbjBke", alt="food3")
      h4 #{pageData.menuDrinksData.drink3}
    div(id='food4')
      img(src="https://cdn.vox-cdn.com/thumbor/v9FRkaOUnBfk_f9acQL8NFhVwEI=/0x0:1000x667/1200x800/filters:focal(428x293:588x453)/cdn.vox-cdn.com/uploads/chorus_image/image/56144113/shutterstock_347337368.0.jpg", alt="food4")
      h4 #{pageData.menuDrinksData.drink4}
    div(id='food5')
      img(src="https://www.simplyrecipes.com/wp-content/uploads/2010/07/root-beer-float-vertical-b.jpg", alt="food5")
      h4 #{pageData.menuDrinksData.drink5}