extends layout
block content
  div(class='food', id='food')
    div(id='food1')
      img(src="https://www.seriouseats.com/recipes/images/2015/07/20150702-sous-vide-hamburger-anova-primary-1500x1125.jpg", alt="food1")
      h4 #{pageData.menuMainCourseData.food1}
    div(id='food2')
      img(src="https://aht.seriouseats.com/images/20110218-pueblo-slopper%20-%2011%20primary.jpeg", alt="food2")
      h4 #{pageData.menuMainCourseData.food2}
    div(id='food3')
      img(src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2015/7/21/2/RO0102H_All-the-Way-Slugburger_s4x3.jpg.rend.hgtvcom.826.620.suffix/1437511817690.jpeg", alt="food3")
      h4 #{pageData.menuMainCourseData.food3}
    div(id='food4')
      img(src="https://upload.wikimedia.org/wikipedia/commons/1/11/Umami_Burger_hamburger.jpg", alt="food4")
      h4 #{pageData.menuMainCourseData.food4}
    div(id='food5')
      img(src="https://cdn-image.foodandwine.com/sites/default/files/styles/medium_2x/public/fw2007_r_xl_pubburger.jpg?itok=3zRqH0C8", alt="food5")
      h4 #{pageData.menuMainCourseData.food5}